<!DOCTYPE html>
{%extends 'shop/base.html'%}

{%block body_block%}
<table class="table table-success table-striped">
            <tr>
                <td><h5>user</h5></td>
                <td><h5>product</h5></td>
                <td><h5>adress</h5></td>
                 <td><h5>price</h5></td>
                <td><h5>status</h5></td>


            </tr>
            {%for order in orders%}
            <tr>
                <td>{{order.user}}</td>
                <td>{{order.product}}</td>
                <td>{{order.address}}</td>
                <td>{{order.product.price}}</td>
                <td>{{order.status}}</td>
                <td><img src="{{order.product.img.url}}" alt="" height="70px"></td>
            </tr>
            {% endfor %}
        </table>

{% endblock %}